<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Página de cadastro</title>
  </head>
  <body>
    <li><a href="/cadastrarMotorista">Cadastrar Motorista</a></li>
    <li><a href="/cadastrarVeiculo">Cadastro de Veículo</a></li>
    <li><a href="/listarVeiculos">Lista de Veiculos</a></li>
    <li><a href="/listarMotoristas">Lista de Motoristas</a></li>
  </body>
</html>
