<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cadastro Marcas</title>
</head>
<br/>
			<h1>Cadastro Marcas</h1>
			<hr/>
			<form action="/marca" method="post">
				Descrição:<input type="text" name="descricao"/><br/>
				<button type="submit" class="btn btn-primary" >Proximo</button>
			</form>
		</body>
</html>
