<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cadastro Modelo</title>
</head>
<br/>
			<h1>Cadastro Modelo</h1>
			<hr/>
			<form action="/modelos" method="post">
				Descrição:<input type="text" name="descricao"/><br/>
				Ativo: <SELECT NAME="ativo">
						<option>
						<option>S
						<option>N
						</SELECT>
						<button type="submit" class="btn btn-primary" >Proximo</button>
			</form>
		</body>
</html>
