<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cadastro Veículos</title>
</head>
<br/>
			<h1>Cadastro Veículos</h1>
			<hr/>
			<form action="/veiculos" method="post">
				Placa:<input type="text" name="placa"/><br/>
				Descrição:<input type="text" name="descricao"/><br/>
				Ano Modelo:<input type="text" name="anoModelo"/><br/>
				Ano Fabricação:<input type="text" name="anoFabricacao"/><br/>
				Capacidade Passageiros:<input type="text" name="maxPassageiros"/><br/>
				<button type="submit" class="btn btn-primary" >Proximo</button>
			</form>
		</body>
</html>
